body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header-footer {
    background-color: #ff0062;
    color: rgb(129, 74, 74);
    text-align: center;
    padding: 20px;
    margin: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: #ad63eb;
}

nav ul li {
    margin: 5px;
}

nav ul li a {
    color: rgb(33, 95, 54);
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #d8bdbd;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 20px;
}

.main-content {
    width: 70%;
    padding: 20px;
    margin: 10px;
    background-color: #7e3838;
}

.sidebar {
    width: 25%;
    padding: 20px;
    margin: 10px;
    background-color: #db2424;
    transition: background-color 0.3s;
}

.sidebar:hover {
    background-color: #bbb;
}

input[type="text"] {
    transition: width 0.3s;
    width: 200px;
}

input[type="text"]:focus {
    width: 250px;
}